<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>In development...
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>In development...
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>1<sup>st </sup>In development...
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>1<sup>st </sup>In development...
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>2<sup>nd </sup>In development...
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>1<sup>st </sup>In development...
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>3<sup>rd </sup>In development...
            </li>
        </ul>
    </div>
</section>